* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  margin: 50px auto;
}

.item-container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  background-color: blue;
  text-align: center;
  border-radius: 15px;
  width: calc(20% - 24px);
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #000000;
}

.item:nth-child(5n + 5) {
  margin-right: 0;
}

.item p {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 0 0 13px 13px;
}

@media only screen and (max-width: 768px) {
  .item {
    width: calc(33% - 30px);
  }

  .item:nth-child(5n + 5) {
    margin-right: 30px;
  }

  .item:nth-child(3n + 3) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 500px) {
  .item {
    width: 100%;
    margin-right: 0;
  }

  .item:nth-child(5n + 5) {
    margin-right: 0;
  }
}
